 h1{background-color: #CC8F37;
     color : #5F6BFF;
    padding: 50px;
     }
nav{background-color: #FFE19E;
    }
a{
    text-decoration: none;
     font-size: 17px;
    }

li{display: inline;
    padding: 50px;
    }
    
    .headline{color:#5EB3FF;}
    
    p{font-size: 15px;
    color: rgb(50,20,170);
}
#end{color: black;}